<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Default Title{% endblock %}</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <nav class="navebar navbar-default" role="navigation">
	<div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'all-courses' %}">Curriculator</a>
	  </div>
          <ul class="nav navbar-nav">
	    <li>
	      <a href="{% url 'all-courses' %}">Courses</a>
	    </li>
	    <li>
	      <a href="{% url 'know-area' 1 %}">Knowledge Areas</a>
	    </li>
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="dropdown">
		Reports <span class="caret"></span>
	      </a>
	      <ul class="dropdown-menu" role="menu">
		<li>
		  <a href="{% url 'coverage' %}">Coverage</a>
		</li>
		<li>
		  <a href="{% url 'co-outcomes' %}">Co-Outcomes</a>
		</li>
	      </ul>
	    </li>
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="dropdown">
		Utilities <span class="caret"></span>
	      </a>
	      <ul class="dropdown-menu" role="menu">
		<li>
		  <a href="{% url 'api-root' %}">API</a>
		</li>
		<li>
		  <a href="{% url 'django.swagger.base.view' %}">Swagger</a>
		</li>
	      </ul>
	    </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
	    <li>
	      {% if user.is_authenticated %}
	      <a href="{% url 'logout' %}">Log out {{ user }}</a>
	      {% else %}
	      <a href="{% url 'login' %}">Log in</a>
	      {% endif %}
	    </li>
	  </ul>
	</div>
      </nav>

      {% block content %}
      Your Content Here
      {% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    {% block extra-javascript %}
    <!-- Extra Javascript -->
    {% endblock %}

  </body>
</html>

