{% extends "cs2013/base.html" %}
{% load coverage_tags %}

{% block title %}Knowledge Area Coverage{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Coverage</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
	<th>Knowledge Area</th>
	<th>Knowledge Unit</th>
	<th>Tier 1</th>
	<th>Tier 2</th>
	<th>Electives</th>
      </tr>
    </thead>
    <tbody>
      {% for know_area in knowledge_areas %}
	{% for coverage in know_area.coverage %}
	  <tr>
	    <td>
	      {% ifchanged know_area %}
		<a href="{% url 'know-area' know_area.pk %}">
		  {{ know_area.abbreviation }} - {{ know_area.name }}
		</a>
	      {% endifchanged %}
	    </td>
	    <td>
	      <a href="{% url 'know-area' know_area.pk %}#{{ coverage.know_unit.pk }}">
		{{ coverage.know_unit }}
	      </a>
	    </td>
	    <td class="{% coverage_class coverage 1 %}">
	      {% tier_coverage coverage 1 %}
	    </td>
	    <td class="{% coverage_class coverage 2 %}">
	      {% tier_coverage coverage 2 %}
	    </td>
	    <td class="{% coverage_class coverage 3 %}">
	      {% tier_coverage coverage 3 %}
	    </td>
	  </tr>
	{% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
